h1 {
    color: #FFFFFF;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    width: 495px;
    height: 55px;
    left: 469px;
    top: 10px;
    font-size: 40px; 
    text-shadow: 4px 4px 4px #000000;
 }