label {
    color: #FFFFFF;
    position: absolute;
    width: 500px;
    height: 157.39px;
    left: 500px;
    top: 95px;

    font-family: Source Code Pro;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
}